p {
    border: solid 1px blue;
    padding: 2%;
    margin: 30%;

    
}

body {
    width: 80%;
    max-width: 1280px;

    margin: 0 auto;
}

#intro-section {
    height: 550px;
}

#design-archives {
    display: none;
}

header {
    background-color: #333;
    color: #fff;

    
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1em;
}

header h1 {
    padding-left: 1em;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}


.sidebar li {
    margin-bottom: 1em;
    text-align: center;
}
footer {
    background-color: #333;
    color: #fff;

    margin: 4%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    border: 2px solid #fff;
    padding: 0.5em;
    text-decoration: none;
    color: #fff;
}